.buy_menu .photo {
  background: url("../images/mans-shirt_with_pockets/1.jpg");
  background-size: cover;
}

.gallery .first_photo {
  background: url("../images/mans-shirt_with_pockets/2.jpg");
  background-size: cover;
}
.gallery .second_photo {
  background: url("../images/mans-shirt_with_pockets/3.jpg");
  background-size: cover;
}
.gallery .third_photo {
  background: url("../images/mans-shirt_with_pockets/4.jpg");
  background-size: cover;
}
.gallery .fourth_photo {
  background: url("../images/mans-shirt_with_pockets/5.jpg");
  background-size: cover;
}
