.buy_menu .photo {
  background: url("../images/mans-utility_west_light/1.jpg");
  background-size: cover;
}

.gallery .first_photo {
  background: url("../images/mans-utility_west_light/2.jpg");
  background-size: cover;
}
.gallery .second_photo {
  background: url("../images/mans-utility_west_light/3.jpg");
  background-size: cover;
}
.gallery .third_photo {
  background: url("../images/mans-utility_west_light/4.jpg");
  background-size: cover;
}
.gallery .fourth_photo {
  background: url("../images/mans-utility_west_light/5.jpg");
  background-size: cover;
}
